*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
}
/*------------------------------------------------------------------------------*/
.todas-pantallas{
    height: 100%;
    width: 100%;
}
.primera-pantalla{
    height: 30%;
    width: 100vw;

    .espacio-buscador{

        height: 5rem;
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .buscador{
        background-color: hwb(16 0% 0%);
        height: 5rem;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 0.8rem;
    }
    .barra-busqueda{
        background-color: white;
        height: 2rem;
        width: 85%;
    }
    .buscar{
        background-color: black;
        height: 5rem;
        width: 7%;
        margin-top: 0.8rem;
    }
    
    
    /*---------------------------------------------------------*/
    .cuatro-opciones{
        background-color: white;
        height: 2rem;
        width: 100%;
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;
        .opcion{
            background-color: grey;
            height: 2rem;
            width: 15%;
        }
    }
}





.segunda-pantalla{
    background-color: lightblue;
    width: 100vw;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    height:35%;
   
    .espaciocuadrado-info{
        height: 100%;
        width: 100%;
        background-color: lightblue;
        display: flex;
        align-items: center;
        justify-content: center;
        .cuadrado-info{
        background-color: rgb(118, 178, 228);
        height: 70%;
        width:  15rem;    
        
        .lista{
            display: flex;
            justify-content: center;
             margin: 1rem;
            
            .texto-cuadrado{
                background-color: white;
                width: 60%;
                height: 1rem;
                margin-left: 1rem;
            }
            .punto{
                height: 1rem;
                width: 1rem;
                background-color: lightblue;

            }
        }
        
        }
    }
    .espacioinfo{
        height: 100%;
        width: 100%;
        background-color: lightblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        .titulo{
            background-color: black;
            width: 60%;
            height: 2rem;
            margin-top: 1rem;
        }
        .texto-info{
            background-color: white;
            width: 60%;
            height: 0.7rem;

        }
        .texto-info-chico{
            background-color: white;
            width: 40%;
            height: 0.7rem;
            margin-bottom: 4rem;

        }
    }

}







.tercera-pantalla{
    background-color: white;
    width: 100vw;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    .grid{
        width: 90%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 100%;
        justify-items: center;
        .pantalla-tres-partes{
            height: 100%;
            width: 15rem;
            .pantalla-tres-texto-abajo{
                display: flex;
                flex-direction: column;
                .titulo-p-tres{
                    margin-top: 0.5rem;
                    width: 100%;
                    height: 0.6rem;
                    background-color: black;
                }
                .texto-p-tres{
                    margin-top: 0.4rem;
                    width: 100%;
                    height: 0.6rem;
                    background-color: grey
                }
                .texto-p-tres-corto{
                    margin-top: 0.4rem;
                    width: 60%;
                    height: 0.6rem;
                    background-color: grey;
                    margin-bottom: 0.2rem;
                }
            }
            
            .pantalla-tres-cuadrado{
                background-color:red;
                width: 15rem;
                height: 60%;
                margin-top: 1rem;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                .titulo-cuadrado-p-tres{                                
                    margin-left: 2rem;
                    width: 70%;
                    height: 1.4rem;
                    background-color: brown;
                    margin-top: 1rem;
                }
                .texto-cuadrado-p-tres{
                    margin-left: 2rem;
    
                    background-color: white;
                    height: 0.6rem;
                    width: 70%;
                }
                .texto-cuadrado-p-tres-corto{
                    margin-left: 2rem;
                    width: 50%;
                    height: 0.6rem;
                    background-color: white;
                    margin-bottom: 1.6rem;
    
                }
    
            }
            
        }
   


    }
}
